@import "base/base";
@import "base/fonts";
@import "base/typography";

@import "vendors/normalize";
// @import "vendors/sanitize.scss";
// @import "vendors/slick";
// @import "vendors/slick-theme";
// @import "vendors/flexnav";
// @import "vendors/andy";
// @import "vendors/guff";

// @import "vendors-extensions/slick";
// @import "vendors-extensions/flexnav";
// @import "vendors-extensions/sidr";

// @import "helpers/function";
@import "helpers/mixins";
@import "helpers/placeholders";
@import "helpers/variables";
@import "helpers/gradients";
// @import "helpers/layout";
@import "helpers/hover";


@import "layout/grids";
@import "layout/header";
@import "layout/main";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/forms";
@import "layout/navigation";
@import "layout/ie8";


@import "mediaquares/mq";
@import "mediaquares/mixins";
@import "mediaquares/mqXS";
@import "mediaquares/mqS";
@import "mediaquares/mqM";
@import "mediaquares/mqL";
// @import "mediaquares/mqXL";



// @import "components/carousel";
// @import "components/media";
// @import "components/thumbnails";
// @import "components/buttons";
// @import "components/breadcrambs";
// @import "components/forms";
// @import "components/icomoon";
@import "components/sprite";
@import "components/addpro";
// @import "components/accordion";
// @import "components/tabs";
// @import "components/progbars";
// @import "components/flexboxes";

// @import "pages/home";
// @import "pages/contact";
@import "pages/callback";
// @import "pages/page3";
// @import "pages/page4";

// @import "themes/admin";
// @import "themes/theme";

// @import "hacks/form";
