@include MQ(L) {
// 800px to 1024
.container{
	@include container(790px);
}
/* ******** */ 
/* ***************** */
.base-header{
	

} 
/* ***************** */

.menu{
    display: none;
}

.info{
	@include full;
}

.menu{
	text-align: center;
}


.contacts{
    .contacts-header{
        display: none;
    }

    .contacts-list{
        @include full;
    }

    .contacts-item{
        display: inline-block;
        @include span(33.3333%);
        margin-right: 0;
        
        &:last-child{
            border-radius: 0;
        }
    }

    .contacts-link{
        font-size: 12px;
        margin-left: 15px;
    }
}

.hide{
        display: block;
    }
/* ***************** */
}/* end Lplus */