.icon-fb{
	&:hover{
		background-image: url(../img/sprite.png);
  		background-position: -60px -60px;
	}
}

.icon-vk{
	&:hover{
		// background: url(../img/sprite.png) -120px 0px;
		background-image: url(../img/sprite.png);
		background-position: 0px -120px;
	}
}	


.icon-tw{
	&:hover{
		// background: url(../img/sprite.png) -60px -120px;
		background-image: url(../img/sprite.png);
  		background-position: -60px -120px;
	}
}	


.icon-git{
	&:hover{
		background-image: url(../img/sprite.png);
		background-position: -120px -60px;
	}
}	

.icon-lock {
	padding-right: 25px;
	&:hover{
		background-image: url(../img/sprite.png);
  		background-position: -180px -180px;
	}
}

.contacts-item{
	&:hover{
		@extend %hoverCont;
		// color: #000;
	}
}			

.navigation-item{
	&:hover{
			@extend %hoverNav;
		}
}

.myWork-image{
	&:hover{
		color: #c4c3c3;
	}
}

.sub{
	&:hover{
		background-color: #48b79b;
	}
}

.clr{
	&:hover{
		background-color: #cccaca;
	}
}