.icon-fb{
	&:hover{
  		background-position: -360px -60px;
  		transition: top 2s ease-out 0.5s
	}
}

.icon-vk{
	&:hover{
		background-image: url(../img/sprite.png);
		background-position: -360px -180px;
        transition: top 2s ease-out 0.5s
	}
}	


.icon-tw{
	&:hover{
		background-image: url(../img/sprite.png);
  		background-position: -360px 0px;
        transition: top 2s ease-out 0.5s
	}
}	


.icon-git{
	&:hover{
		background-image: url(../img/sprite.png);
		background-position: -192px -257px;
        transition: top 2s ease-out 0.5s
	}
}	

.icon-lock {
	padding-right: 25px;
	&:hover{
		background-image: url(../img/sprite.png);
  		background-position: -312px -257px;
        transition: top 2s ease-out 0.5s
	}
}

/* ******* */

.icon-vk_mob {
    &:hover{
        background-position: 0px -96px;
        transition: top 2s ease-out 0.5s
    }
}

.icon-tw_mob {
    &:hover{  
        background-position: -180px 0px;
        transition: top 2s ease-out 0.5s
    }
}

.icon-git_mob {
    &:hover{
        background-position: -180px -96px; 
        transition: top 2s ease-out 0.5s 
    }
}

.icon-fb_mob {
    &:hover{
        background-position: -270px -96px;
        transition: top 2s ease-out 0.5s
    }
}

/* ******* */
.contacts-item{
	&:hover{
		@extend %hoverCont;
		// color: #000;
	}
}	

/***************************/
.myWork-item.addnew{
	opacity: 1;
	&:hover{
		opacity: 0.8;
		background-color: #dad8d8;
	}
}		

.navigation-item{
	&:hover{
			@extend %hoverNav;
		}
}


.sub{
	&:hover{
		background-color: #48b79b;
	}
}

.clr{
	&:hover{
		background-color: #cccaca;
	}
}

/**************************/
.myWork-image_wrap{
	position: relative;
}

.myWork-image{
	width: 100%;
  	height: 100%;
}

.myWork-image_hover{
	width: 160px;
	height: 114px;
	overflow: hidden;

	&:_hover{
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

.myWork-look {
	text-align: center;
	padding-top: 50px;
	display: block;
	font-size: 14px;

    text-align: center;
    line-height: 22px;
    height: 22px;
    margin-top: 48px;
    background: #000;
    position: absolute;
    bottom: 0;
  	left: 0px;
  	width: 100%;
  	height: 100%;
    color: #fff;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border-radius: 3px;
    font-size: 11px;
    cursor: pointer;
    transition: all 0.3s linear 0s;
	&:hover{
		opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	}
}
/**************************/

