.callback-wrap{
    background-color: #f6f5f4;
    padding: 40px;
    // @include container(400px);
}

.form{
    @include container(400px);
}

.input{
    border: 1px solid #d6d5d3;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 190px;
    // margin-left: 0;
    background-color: #f6f6f6;
}

.input-name{
    // float: left;
    display: inline-block;
    width: 100%;
    color: #727070;
}

#textarea{
    padding: 10px;
    background-color: #f6f6f6;
    border: 1px solid #d6d5d3;
    border-radius: 5px;
    resize: none;
}

.btn{
    font-weight: 600;
    font-size: 14px;
    background-color: transparent;
    color: #727070;
    border: 1px solid #d6d5d3;
    border-radius: 5px;
    padding: 10px 20px;
}

.clr{
    background-color: #f1efee;
}

.sub{
    color: #1e7465;
    background-color: #61cfb0;
}