.myWork{ 
    background-color: #f6f5f4;
    // padding: 40px;
    border-radius: 5px;
    border: 1px solid #c4c3c3;
}

.myWork-wrap{
    // @include clearfix;
    background-color: #f6f5f4;
    padding: 40px;
    margin-bottom: 240px;
}

.myWork-item{
    // display: inline-block;
    @include gallery(1 of 3);
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #c4c3c3;

    &:last-of-type img{
        display: inline-block;
        text-align: center;
        width: 40px;
        height: 40px;
    }
}

.myWork-caption{
    text-align: center;
}

.myWork-caption_name{
    color: #727070;
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 14px;
}

.myWork-caption_text{
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
}

