/***********************/
.addpro{
    /*height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);*/
    // position: fixed;
    // top: 0;
    // bottom: 0;
    // right: 0;
    // left: 0;
}

#element_to_pop_up {
    display:none; 
}


.addpro-wrap{
    position: absolute;
    top: 30%;
    left: 40%;
    /**/
    // width:100%;
    // min-height:100%;
    // overflow:hidden;
    // position:fixed;
    /**/
}


.addpro .login-form{
    padding-top: 0;
    height: 480px;
    width: 365px;
    padding-left: 24px;
}

.addpro .login-form input[type="text"]{
    padding-left: 10px;
    font-size: 11px;
    width: 320px;
}

.addpro .login-form input[type="file"]{
    padding-right: 50px;
    padding-left: 10px;
    font-size: 11px;
    width: 320px;
    position: relative;
}

/*.addpro .login-form input[placeholder]{
    margin-right: 20px;
    color: #636363;
}*/


.addpro .login-form .btn {
    padding: 10px 30px;
    display: block;
    margin: 5px auto;
}

.icon-cloud{
    position: relative;
    right: 35px;
    background-color: #efedec;
    padding: 10px;
}

.icon-crest{
    position: relative;
    float: right;
    top: 10px;
    margin-bottom: 5px;

}

.addpro #textarea{
    width: 320px;
    font-size: 11px;
}


.addpro .addpro-button {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 35%;
    right: 11px;
    display: block;
    height: 43px;
    width: 55px;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0;
    border: 1px solid #d6d5d3;
    background-image: url(../img/cloud.png);
    background-repeat: no-repeat, repeat-x;
    background-position: 15px 12px, 0 0;
}


/*.sucsess_window {
    width: 364px;
    min-height: 70px;
    top: 50%;
    left: 50%;
    margin-left: -183px;
    margin-top: -35px;
    padding: 16px 19px 12px;
    position: absolute;
    border-radius: 7px;
    border: 1px solid #d2d2d2;
    box-shadow: 0 18px 13px -13px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    z-index: 100;
}

.sucsess_window_close_box {
    text-align: right;
    margin: 7px 0 1px;
    position: relative;
}

.sucsess_window_close_x {
    cursor: pointer;
    padding: 2px 9px;
    font-weight: 700;
    position: absolute;
    right: -22px;
    top: -22px;
}*/