.wrapper{
	position: relative;
}

.tabs_controls-item{
	margin-left: 10px;
	background-color: #2c3e50;
	&:hover, &.active{
		background-color: #2ecc71;
	}
	&:first-child{
		margin-left: 0;
	}
}

.tabs__control-link{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: 3px 7px;
}

.tabs_list{
	border: 1px dashed #ccc
}

.tabs__item{
	list-style: none;
	display: none;
	&.active{
		display: block;
	}
}