/*html, body {
  height: 100%;
}

.wrapper{
	clear: both;
    height: auto !important;
    margin-bottom: -80px;
    min-height: 100%;
}

.layout_footer{
	height: 80px;
}*/
/***************************/
.base-footer{
	background-color: #eff3f7;
	font-size: 12px;

	/*position: relative;
	clear: both;
    min-height: 80px;*/
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    position: absolute;
}


.copyright{
		background-color: #eff3f7;
		color: #8f9da8;
		padding: 15px 0;
		font-family: open_sanslight, sans-serif;
		display: inline-block;
}

.copyright{
	text-align: center;
	padding: 30px 0;
}

.lock{
	display: inline-block;
	padding-left: 165px;
	width: 300px;
	strong{
		padding-left: 10px;
	}
}

icon-lock{
	// display: block;
	padding-right: 25px;
	width: 40px;
  	height: 19px;
  	float: left;
}

.fixid-bottom-footer{
    position: fixed;
    bottom: 0;
}