// Requirements
// ============

// @import "susy";
@import "../apps/susy/sass/susy";

$susy: (
    output: float,
  	columns: 12,
  	gutters: .25,
  	math: fluid,
    column-width: false,
    container: auto,
    container-position: center,
	use-custom: (rem: true)
);

/*$susy: (
  math: static,
  columns: 12,
  column-width: 66px,
  container-position: center,
  gutters: 1/4,
  use-custom: (rem: true)
);*/

// @include layout(12 1/4 inside-static);

@include border-box-sizing;

.container{
	@include container(960px);
	// @include clearfix;
}
/* ***** */
.include__full{
	@include full;
}

.wrapper{
	@include container;
    @include clearfix;
}
/* ******** */

.main{
  // @include container($susy);
}

.container-base-header{
	@include container(1200px);
}


.menu{
	@include span(3.2);
	max-width: 250px;
  float: left;
  display: inline-block;
}

.info{
	@include span(8.2);
	margin-right: 0%;
	max-width: 650px;
  display: inline-block;
}

.lead{
    @include container;
}

.image-wrap{
    @include span(4);
    margin-right: 0;
}

.worksheet-wrap{
    @include span(8);
    margin-right: 0;
}

.infobox-item{
    @include container;
}

// .form-group{
//     @include span(5);
// }

/*.check{
    @include span(10);
}*/

/******* Page2 ****/
.myWork-item{
    @include gallery(1 of 3);
}
/****************/
.copyright{

}