.base-header{
	background-image: url(../img/pattern.png);
	color: $color-white;
	// padding: 10px 0;
	border-bottom: 7px solid $color-white;
	// margin-bottom: 35px;


	.logo{
		
	}	


	.menu-burger{
		display: none;
	}
}

.social-icons{
	float: right;
	padding: 25px 0 14px;
	.social-item{
		margin-left: 10px;
		display: inline-block;
	}

	.social-link{
		display: inline-block;
	}
}

.logo-wrap{
	height: 70px;
	width: 95px;
	display: inline-block;
	margin: 13px 0 3px 0;
}
/* end base-header */