/* body */

.no-bgsizecover body{
    // background: #83edaf;
    background-color: #f5e49e;
}


.bgsizecover body{
    background: url("../img/back.jpg") no-repeat;
    background-size: cover;
}

/* body */