.menu{
	// background-color: #eff3f7;
	margin:0 64px 25px 0;
	color: $color-paragraph;
}

	.navigation{
		margin-bottom: 34px;
		font-size: 20px;
		font-weight: 500;
		border-radius: 5px 5px;
	    box-shadow: inset rgba(252,255,255,.7) 0 0.5px 3px;
	} 		
		.navigation-list{
			color: #727070;

			/*&:link{
				// @extend %usualNav;
			}

			&:visited{
				// @extend %green;
			}	
			
			&:hover{
				@extend %hoverNav;
			}

			&:active{
				@extend %green;
				// border-top-left-radius: 3px;
				// border-top-right-radius: 3px;
				color: #1e7465;
				// padding: 12px 18px;
			}*/
		}

		.navigation-link{
			padding: 12px 18px;
			display: block;
			color: $color-paragraph;
		}

		.navigation-link.active{
			@extend %green;
			color: #1e7465;
		}



		.navigation-item{
			@extend %usualNav;
			font-size: 21px;

			&:first-of-type{
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
			}

			&:last-of-type{
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
			}

			&:last-child{
				border-radius: 0 0 5px 5px;
    			box-shadow: inset rgba(252,255,255,.7) 0 0.5px 3px;
			}
		}
/* end navigation */		

	.contacts{
		// @extend %usualCont;	
		.contacts-header{
				@extend %yellow;
				padding: 8px 0px 8px 17px;
				font-size: 20px;	
				border-radius: 5px 5px 0 0;
    			box-shadow: inset rgba(252,255,255,.7) 0 0.5px 3px;
		}

		.header-inner-text{
			color: $color-contheader;
		}

		.contacts-item{
			@extend %usualCont;	
			border-bottom: 1px solid #d6d5d3;
			padding: 0 10px;
			// margin-left: auto;
   //  		margin-right: auto;
   //  		max-width: 100%;

			&:hover{
				@extend %hoverCont;
			}

			&:last-child{
				border-radius: 0 0 5px 5px;
    			box-shadow: inset rgba(252,255,255,.7) 0 0.5px 3px;
			}
		}

		.icon-cont{
		  display: block;
		  font-size: 0;
		}

		.contacts-link{
			font-size: 14px;
			color: #727070;
			display: inline-table;
			vertical-align: middle;
			&:hover{
				text-decoration: underline;
			}
		}

		.contacts-link-wrap{
			display: block;
			margin-left: 80px;
			@include clearfix;
		}

		.contact-text{
			margin-bottom: 10px;
		}
	}

// .icon-cont{
// 	display: inline-block;
// 	vertical-align: middle;
// }

// .contact-link{
// 	vertical-align: middle;
// }





.icon-burger.mobile{
	display: none;
}

.icon-burger.planshet{
	display: none;
}


.contacts .contactssss-item{
	position: relative;
	padding: 7px 0 6px 56px;
	background: #f9f8f8;
	// @extend %usualCont;	
	border-bottom: 1px solid #d6d5d3;
	width: 243px;

	&:before{
		content: " ";
		background-image: url(../img/sprite.png);
		display: block;
		// width: 100px;
		position: absolute;
		top: 50%;
		left: 29px;
		transform: translateY(-50%) translateX(-50%);
	}

	&:hover{
		// @extend %hoverCont;
		background: #f6edde;
	}

	&:last-child{
		border-radius: 0 0 5px 5px;
		box-shadow: inset rgba(252,255,255,.7) 0 0.5px 3px;
	}

	.contact-text{
		vertical-align: middle;
	}

	.contacts-links{
		margin-left: 32px;
		font-size: 14px;
		color: #727070;
		display: inline-table;
		vertical-align: middle;

		&:hover{
			text-decoration: underline;
		}
	}

}


.contacts .contactssss-item.icon-mail_c{
		height: auto;
		&:before{
			background-position: -420px -57px;
			width: 39px;
			height: 37px;
		}
	}

.contacts .contactssss-item.icon-phone_c{
	height: auto;
		&:before{
			background-position: -420px 0px;
			width: 39px;
			height: 37px;
		}
	}		

.contacts .contactssss-item.icon-skype_c{
		height: auto;
		&:before{
			background-position: -360px -240px;
			width: 39px;
			height: 37px;
		}
	}	

/**************************************/
.no-csstransforms .contactssss-item{
	padding: 7px 0 6px 56px;
	background-color: #eae9e8;
	&:before, .js{
		content: " ";
		background-image: url(../img/sprite.png);
		display: block;
		position: absolute;
	 	top: 0%;
		left: 10px;
	}
}

.no-csstransforms .contactssss-item.js{
		&:before{
			left: 0;
		}
	}

.csstransforms .contactssss-item{
		padding: 10px 0 6px 56px;
		&:before{
	    content: " ";
	    color: $color-paragraph;
	    background-color: inherit;
	    position: absolute;
	    top: 52%;
		left: -10px;
	    transform: translateY(-50%) translateX(50%);
	}
}	